@media screen and (max-width:700px){
    body{
        font-size: 
    }
    .slider{
        height: 560px;
    }
    .slider__textBlock{
        padding: 0;
    }
    .slider__textBlock h1{
        font-size: 1.875em;
        line-height: 2rem;
    }
    .slider__textBlock p{
        margin: 10px 0;
        font-size: .75em;
    }
    .slider__imageHolder{
        min-width: 250px;        
        height: 250px;
        margin: 0;
        border-width: 15px;
    }
    .slider__imageHolder img{        
        height: 250px;
    }    
    .serviceCard{
        width: 100%;
        margin-bottom: 10px;
    }
    .latestWork__container{
        flex-direction: column;
        align-items: center;
    }
    .workShot{
        width: 90%;
    }
    .workShot__img {
        width: 100%;
    }
    .footer__block{
        width: 100%;
        margin-bottom: 30px;
    }
    .copyright{
        display: block;
        text-align: center;
        font-size: .625rem;
    }
}